
<div class="flx">
<div class="title">Sandy's Weather Report</div>
<div class="nav">
    <a href="/">Home</a>
    <a href="/contacts">Contacts</a>
     <a href="/weathers?address=bengaluru">weather</a>
       {{!-- <a href="/weathers">weather json</a>
    <a href="/createFile">create File</a>
    <a href="/readFile">read File</a>
    <a href="/updateFile">update File</a> --}}
</div>

</div>
