<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/style.css">
      
    </head>
    <body style="background-color: #99968c;">
     
            {{>header}}
       
        <div class="bod">
           <h1>Hello Mate!</h1> 
            <form>
                <input placeholder=" Enter location" />
                <button type="submit">Search</button>
            </form>
            <div id="displayText"></div>
        </div>

          <script rel="text/javascript" src="/js/app.js"></script>
    </body>
</html>